<my-table [dados]="pessoas" [colunas]="['nome', 'idade', 'status']" [templates]="{
    status: statusTemplate}" [actions]="action">
</my-table>



<ng-template #action let-linha>
  @if (linha.status === 'ativo') {
  <button (click)="switchActive(linha.id)">Desativar</button>
  }
  @if (linha.status === 'inativo') {
  <button (click)="switchActive(linha.id)">Ativar</button>
  }

  <button>Editar</button>
</ng-template>


<ng-template #statusTemplate let-status let-linha="linha">
  <div class="status-row">
    <div class="status-circle" [style.backgroundColor]="status === 'ativo' ? 'green' : 'red'"></div>
    {{ status.toUpperCase() }}
  </div>
</ng-template>


<p>Ref</p>
<a target="_blank" href="https://www.freecodecamp.org/portuguese/news/tudo-o-que-voce-precisa-saber-sobre-ng-template-ng-content-ng-container-e-ngtemplateoutlet-em-angular/">ng-container</a>
<br>
<a target="_blank" href="https://andrewrosario.medium.com/ngtemplateoutlet-o-segredo-da-personaliza%C3%A7%C3%A3o-6f3203787a56">ngTemplateOutlet</a>

<router-outlet />